* {
    
}

.deco {
    background: rgb(0, 0, 0, 0.3);
    border-radius: 25px;
    max-width: 70vh;
    margin: 10px;
    padding: 10px;
}

.row-main {
    margin: 20px;
}

.color {
    background: #292f36;
}

.color-active {
    border: 2px solid #4ecdc4;
    background: #4ecdc4;
}

.color-active:hover {
    border: 2px solid #4ecdc4;
    background: none;
    transition: 0.3s;
}

.btn-send {
    border: 2px solid #ffe66d;
    background: #ffe66d;
}

.btn-send:hover {
    border: 2px solid #ff6b6b;
    background: none;
    transition: 0.3s;
}